<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simpsons Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="nav-brand" href="/">742 Evergreen Terrace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="map.html">Map</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Static.html".html>Static</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Dynamic.html".html>Dynamic</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="Homer.html".html>Homer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Race.html".html>Ready, Set, Doh</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="Search.html".html>Search</a>
                    </li>
        </ul>
      </div>
    </div>
  </div>
      <h1>Simpsons Static Graphs</h1>
    <div class="container">
        <div class="row">
          <div class="col-md-2">
              <div class="form-season">
                  <label for="Season">Season</label>
                  <select class="for-season" id="dropdown-3">
                    
                  </select>
                </div>
            <div class="form-char1">
              <label for="First Character">First Character</label>
              <select class="form-char1" id="dropdown-1">

              </select>
            </div>
            <button type="button" class="btn-char1">Load Character 1</button>
            <div class="form-char2">
              <label for="Second Character">Second Character</label>
              <select class="form-char2" id="dropdown-2">
                
              </select>
            </div>
            <button type="button" class="btn-char2">Load Character 2</button>
  
            </div>
            <div class="col-md-5">
                <div class="char1-stats">
                    <h1 id="char1-head"></h1>
                    <a id="char1-totall"></a><br>
                    <a id="char1-totalw"></a><br>
                    <a id="char1-appear"></a><br>
                    <a id="char1-maxl"></a><br>
                    <a id="char1-maxw"></a><br>
                    <a id="char1-avgl"></a><br>
                    <a id="char1-avgw"></a><br>
                </div>
            </div>
            <div class="col-md-5">
                <div class="char2-stats">
                    <h1 id="char2-head"></h1>
                    <a id="char2-totall"></a><br>
                    <a id="char2-totalw"></a><br>
                    <a id="char2-appear"></a><br>
                    <a id="char2-maxl"></a><br>
                    <a id="char2-maxw"></a><br>
                    <a id="char2-avgl"></a><br>
                    <a id="char2-avgw"></a><br>
                </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-5">
              <div id="char1-graph-lines">

              </div>
            </div>
            <div class="col-md-5">
                <div id="char2-graph-lines">
                  
                </div>
              </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-2">

                </div>
              <div class="col-md-5">
                <div id="char1-graph-words">
  
                </div>
              </div>
              <div class="col-md-5">
                  <div id="char2-graph-words">
                    
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-10">
                  <div id="sea-epi-graph">
                  
                    </div>
              </div>
            </div>
      </div>
        
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/js/Dynamic.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</body>

</html>
