<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simpsons Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/cosmo/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="shortcut icon" href="#" />
</head>

<body>
  <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <a class="nav-brand" href="/">742 Evergreen Terrace</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="map.html">Map</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="Static.html".html>Static</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="Dynamic.html".html>Dynamic</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link" href="Race.html".html>Ready, Set, Doh</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="Search.html".html>Search</a>
                    </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <iframe width="1000" height="500" src="https://www.youtube.com/embed/Zy-owW1jVJg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <h1>
    The Simpsons
  </h1>
  <p>
      The Simpsons is an American animated sitcom created by Matt Groening for the Fox Broadcasting Company.  The series is a satirical depiction of working-class life, epitomized by the Simpson family, which consists of Homer, Marge, Bart, Lisa, and Maggie. The show is set in the fictional town of Springfield and parodies American culture and society, television, and the human condition.

      The family was conceived by Groening shortly before a solicitation for a series of animated shorts with producer James L. Brooks. Groening created a dysfunctional family and named the characters after his own family members, substituting Bart for his own name. The shorts became a part of The Tracey Ullman Show on April 19, 1987. After three seasons, the sketch was developed into a half-hour prime time show and became Fox's first series to land in the Top 30 ratings in a season (1989–90).
      <br>
       reference: https://en.wikipedia.org/wiki/The_Simpsons
       <br>
        Data Link: https://www.kaggle.com/wcukierski/the-simpsons-by-the-data
  </p>
  <br>

  <h2>
    Aproach
  </h2>
  <p>
    The goal of this project is to incorporate all material learned over the last seven months to investigate a personal favorite topic, The Simpsons.  Using the dataset found on kaggle.com of all Simpson episodes and lines seasons 1-27, a breakdown is provided over a variety of different subjects.  The technologies used are as follows:
  </p>
  <ul>
    <li>
      Python
      <ul>
        <li>Matplotlib</li>
        <li>Flask</li>
        <li>Pandas</li>
        <li>APIs</li>
        <li>Scikit Learn</li>
      </ul>
      </li>
      <li>
        MySQL
      </li>
      <li>
        HTML with Bootstrap 
      </li>
      <li>
        JavaScript
        <ul>
          <li>Leaflet</li>
          <li>D3</li>
          <li>Plotly</li>
        </ul>
      </li>
  </ul>
  
  
          
      
      
 
    
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!--<script src="static/js/app.js"></script>--> 
</body>

</html>
