<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simpsons Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="wrapper">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">The Simpsons</a>
              </div>
              <ul class="nav navbar-nav">
                  <li>
                      <div class="dropdown">
                          <button class="dropbtn">Graphs</button>
                          <div class="dropdown-content">
                            <a href="Static.html">Static</a>
                            <a href="Homer.html">Homer</a>
                            <a href="Dynamic.html">Dynamic</a>
                          </div>
                      </div>
                  </li>
                  <li><a href="map.html">Map</a></li>
                  <li><a href="Race.html">Race</a></li>
                  <li><a href="Search.html">Search</a></li>
              </ul>
  
          </div>
      </nav>
    <div class="hero text-center">
      <h1>The Simpsons</h1>
      <p>The Simpsons</p>
    </div>
    <div class="container">
      <div class="row margin-top-50">
        <div class="col-md-2">
          <aside class="filters">
            <div class="panel panel-default">
              <div class="panel-heading">Filter Search</div>
              <div class="panel-body">
                <form>
                  <div class="form-group">
                    <ul class="list-group" id="filters">
                      <li class="filter list-group-item1">
                        <label for="type">Enter Type</label>
                        <select id="selectType"></select>
                      </li>
                      <li class="filter list-group-item2">
                        <label for="type">Enter Price</label>
                        <select id="selectPrice"></select>
                      </li>
                    </ul>
                  </div>
                  <button id="filter-btn" type="submit" class="btn btn-default">Filter Table</button>
                </form>
              </div>
            </div>
          </aside>
        </div>
        <div class="col-md-10">
          <div id="table-area" class="">
            <table id="ufo-table" class="table table-striped">
              <thead>
                <tr>
                  <th class="table-head">Name</th>
                  <th class="table-head">Type</th>
                  <th class="table-head">Rating</th>
                  <th class="table-head">Price</th>
                  <th class="table-head">Address</th>
                  <th class="table-head">City</th>
                  <th class="table-head">Zip</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <span class="bottom">Simpsons</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <!--<script src="static/js/app.js"></script>--> 
</body>

</html>
