<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simpsons Analysis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://bootswatch.com/4/sketchy/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
</head>

<body>
  <div class="wrapper">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="/">The Simpsons</a>
              </div>
              <ul class="nav navbar-nav">
                  <li>
                      <div class="dropdown">
                          <button class="dropbtn">Graphs</button>
                          <div class="dropdown-content">
                            <a href="Static.html">Static</a>
                            <a href="Homer.html">Homer</a>
                            <a href="Dynamic.html">Dynamic</a>
                          </div>
                      </div>
                  </li>
                  <li><a href="map.html">Map</a></li>
                  <li><a href="Race.html">Race</a></li>
                  <li><a href="Search.html">Search</a></li>
              </ul>
  
          </div>
      </nav>
      <h1>Where is Springfield?</h1>
      
            <div id="map" style="width:100%;height:400px;"></div>
      

    <footer class="footer">
      <span class="bottom">Restaurant Types</span>
    </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>
  <script src="../static/js/map.js"></script>
</body>

</html>
